@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Mooli&family=Poppins:wght@300;400&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: auto;
    background-color: #F2F4FA;
}
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-inline: 5%;
}
#left{
    width: 45%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    list-style: none;
}
#right{
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;
}
#right li:first-child{
    padding-right: 30px;
}
#left li{
    font-size: 17px;
    font-weight: 500;
}
#left li i{
    padding-left: 5px;
}
#left li a{
    text-decoration: none;
    color: rgb(85, 72, 72);
}
#left li img{
    width: 120px;
    padding-left: 20px;
}
#left span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.circle{
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle img{
    width: 23px;
}
.circle i{
    font-size: 15px;
}
.hero-section{
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 60px;
    padding-inline: 10%;
}
.leftpart{
    width: 50%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.leftpart h5{
    font-size: 14px;
    font-weight: 600;
    color: #EF5493;
    padding-top: 30px;
}
.leftpart h1{
    font-size: 55px;
    font-weight: 900;
    padding-top: 15px;
}
.leftpart h6{
    font-size: 13px;
    font-weight: 550;
    color: rgb(126, 117, 117);
    padding-top: 20px;
    line-height: 20px;
}
.leftpart span{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.leftpart span button{
    width: 140px;
    height: 40px;
    border: none;
    background-color: #767DFF;
    color: white;
    font-weight: 600;
    border-radius: 22px;
}
.leftpart span a{
    text-decoration: none;
    font-size: 14px;
    padding-left: 18px;
}
.rightpart{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: url(./images/3d-illustration-delivery-man-character-scooter_23-2149507160-removebg-preview.png);
    background-position: right;
    background-size: 650px 700px;
    background-repeat: no-repeat;
    position: relative;
}
.box{
    width: 170px;
    height: 85px;
    border: none;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
}
.box:first-child{
    position: absolute;
    top: 7%;
    left: 8%;
}
.box:nth-child(2){
    width: 110px;
    height: 150px;
    position: absolute;
    top: 30%;
    left: 16%;
    align-items: start;
    padding-inline: 7px;
}
.box:nth-child(3){
    width: 160px;
    height: 70px;
    position: absolute;
    top: 65%;
    left: 0%;
    align-items: end;
}
.box:first-child h5{
    font-size: 16px;
    font-weight: 800;
}
.box:first-child h6{
    font-size: 12px;
    font-weight: 400;
    color: gray;
    padding-top: 2px;
}
.box:first-child ul{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 5px;
}
.box:first-child ul li{
    font-size: 13px;
}
.box:first-child ul li i{
    color: #FFCC7E;
}
.box:nth-child(2) h6{
    font-size: 12px;
    font-weight: 500;
    color: gray;
}
#two{
    padding-top: 30px;
}
.box:nth-child(2) button{
    width: 90px;
    height: 25px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    background-color: #5BB7D9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box:nth-child(2) button hr{
    width: 30px;
    border: 3px solid white;
    border-radius: 5px;
}
.box:nth-child(2) h6 i{
    padding-right: 6px;
    color: plum;
}
.box:nth-child(3) button{
    width: 80px;
    height: 8px;
    border: none;
    border-radius: 5px;
    background-color: #FF9BB3;
    margin-right: 15px;
}
#new{
    width: 80px;
    height: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #F5D3E4;
}
.bracket{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius:50%;
    position: absolute;
    top: 4%;
    left: 5%;
    background-image: url(./images/th__3_-removebg-preview.png);
    background-position: center;
    background-size: cover;
    background-color: #5BB7D9;
}
.bracket2{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius:50%;
    position: absolute;
    top: 27%;
    left:29%;
    background-image: url(./images/th__4_-removebg-preview.png);
    background-position: center;
    background-size: cover;
    background-color: #8D8BE4;
}
.bracket3{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius:50%;
    position: absolute;
    top: 62%;
    right: 95%;
    background-image: url(./images/th__6_-removebg-preview.png);
    background-position: center;
    background-size: cover;
    background-color: #6f7373;
}
.down{
    width: 100%;
    height: auto;
}
.boxesmain{
    width: 90px;
    height: 120px;
    border: 1px solid #E0E4F1;
    border-radius: 45px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes{
    width: 75px;
    height: 100px;
    border: 1px solid #E0E4F1;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes2{
    width: 62px;
    height: 80px;
    border: 1px solid #E0E4F1;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes3{
    width:42px;
    height: 60px;
    border: 1px solid rgb(209, 198, 198);
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes3 img{
    width: 17px;
}
.down span{
    width: 40%;
    height: auto;
}
.down span h6{
    font-size: 13px;
    font-weight: 550;
}
.down span h6 a{
    color: #FF9BB3;
    text-decoration: none;
}
@media (max-width:768px) {
    .container{
        width: 100%;
        height: auto;
    }
    .navbar{
        width: 100%;
        height: auto;
        padding-inline: 30px;
    }
    #left{
        width: 20%;
        height: auto;
    }
    #left li{
        display: none;
    }
    #left li:first-child{
        display: inline;
    }
    #right{
        width: 20%;
    }
    .hero-section{
        width: 100%;
        height:1090px;
        flex-direction: column;
        padding-inline: 20px;
    }
    .leftpart{
        width: 100%;
        height: auto;
    }
    .rightpart{
        width: 100%;
        height: 480px;
        background-position: center;
        background-size: 480px 400px;
        margin-block: 15px
    }
    .box:first-child{
        width: 170px;
        height: 70px;
        left: 2%;
        top: 15%;
    }
    .box:nth-child(2){
        width: 98px;
        height: 135px;
        padding-inline: 2px;
        left: 1%;
        top: 40%;
    }
    .box:nth-child(3){
        left: 0%;
        top:87%;
    }
    .box:nth-child(2) button{
        width: 80px;
        height: 20px;
        margin-left: 5px;
    }
    .box:nth-child(3){
        width:160px ;
        height: 65px;

    }
    .bracket{
        width: 35px;
        height: 35px;
        top: 12%;
        left: 0%;
    }
    .bracket2{
        width: 34px;
        height: 34px;
        top: 37%;
        left: 18%;
    }
    .bracket3{
        width: 35px;
        height: 35px;
        top: 84%;
        right: 94%;
    }
    .leftpart span{
        width: 75%;
        height: auto;
    }

}